<div class="navbar">
    <a class="nav-link {% if active_page == 'event_flow' %}active{% endif %}" href="http://localhost:5555">Event Flow</a>
    <a class="nav-link {% if active_page == 'recorder' %}active{% endif %}" href="http://localhost:5556">Recorder</a>
    <a class="nav-link {% if active_page == 'exchange' %}active{% endif %}" href="http://localhost:5557">Exchange</a>
    <a class="nav-link {% if active_page == 'testing' %}active{% endif %}" href="http://localhost:5558">Testing</a>
</div>
